{{!-- menu and hero image --}}

<div class="splash">

  <div class="splash__logo"></div>
  <h2 class="splash__title">Meet the new Auroracoin Webwallet</h2>
  <p class="splash__text">A human-friendly digital token wallet for Auroracoin</p>

  <div class="splash__image"></div>

  <div id="web" class="splash__btn">
    <a href="http://hive.auroracoin.is" onClick="trackEvent('Exit', 'Aurora Web');" target="_blank">Create a web wallet</a>
  </div>

</div>

<div class="nextbox">
  <a href="#intro" class="nextbox__icon">
    <span class="_icon i-arrow-down"></span>
  </a>
</div>
